*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
body{
    background-color: grey;
}
.container{
    width: 400px;
    padding: 30px;
    margin: auto;
}
.instructions{
    margin: 10px 0 15px 0;
}
.buttons-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;
}
.button{
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}
.button:hover{
    background-color: teal;
}
.result-container{
    margin-bottom: 10px;
}
.choicebox{
    box-sizing: border-box;
    width: 50%;
    height: 80px;
    background-color: white;
    border: 1px solid black;
}
#computer-choice{
    position: relative;
    float: right;
}
.choicebox p{
    width: 100%;
    padding: 5px 0 0 0;
    text-align: center;
}
.choicecontent{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 0;
}
.result{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
table{
    width: 100%;
    margin-bottom: 15px;
}
th, td{
    width: 48%;
}
.spacer{
    width: max-content;
}
.table-left{
    text-align: right;
}
.table-right{
    text-align: left;
}
#reset-button{
    visibility: hidden;
    box-sizing: border-box;
    color: white;
    background-color: blue;
    padding: 10px;
    cursor: pointer;
}